<div>
    <div class="card-header">
        <h3>Lista de Usuarios</h3>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <th>
                    Nombre
                </th>
                <th>
                    Apellido Paterno
                </th>
                <th>
                    Apellido Materno
                </th>
                <th>
                    Edad
                </th>
                <th>
                    Estado
                </th>        
                <th>
                    Fecha de Registro
                </th>
                <th>
                    Nombre Completo
                </th>
            </thead> 
            <tbody>
                <tr *ngFor="let usuario of lista_usuarios">
                    <td>
                        {{usuario.nombre | lowerCase}}
                    </td>
                    <td>
                        {{usuario.apellido_paterno | upperCase}}
                    </td>
                    <td>
                        {{usuario.apellido_materno}}
                    </td>
                    <td>
                        {{usuario.edad}}
                    </td>
                    <td>
                        {{usuario.activo}}
                    </td>
                    <td>
                        {{usuario.fecha_registro | date:'medium'}}
                    </td>          
                    <td>
                        {{usuario | returnName}}
                    </td>                           
                </tr>
            </tbody>   
        </table>
        
    </div>
</div>
