
<p appHighLigth> Bienvenido</p>

<ul>
    <li *ngFor="let usuario of usuarios_firestore">
     {{usuario.nombre}} {{usuario.apellido_paterno}} {{usuario.apellido_materno}}

    </li>
</ul>
<button class="btn btn-success" (click)="mostrarModalNuevousuario(modalNuevoUsuario)"> Abrir modal nuevo usuario
</button>

<app-listar-usuarios [lista_usuarios]="lista_usuarios"></app-listar-usuarios>

<ng-template #modalNuevoUsuario let-c="close" let-d="dismiss">
<div class="modal-header d-flex align-items-center">
    <span class="h5 m-0"> <i class="fa fa-filter mr-1"></i>Modal - Registro de Usuario</span>
    <button class="close d-flex text-dak m-0 p-0" (click)="d('Cross click')"> Cerrar modal</button>
</div>
<div class="modal-body">
    <app-crear-usuario (setUsuario)="recibirUsuario($event)"></app-crear-usuario>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-outline-secondary btn-lg" (click)="c('Close')">  Cerrar</button>
</div>

</ng-template>



